.navbar img {
    border-radius: 50%;
    margin-right: 20px;
}

.social .btn {
    width: 40px;
    height: 40px;
}

.navLinks{
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: white;
}

.navLinks:hover{
    position: relative;
    top: -3px;
    transition: 0.2s;
    color: rgb(170, 170, 170);
}

.navbar-collapse {
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.753);
    padding: 5px 10px;
    border-radius: 30px;
}

.navbar-dark .navbar-toggler {
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 8px;
}

.active {
    color: rgb(170, 170, 170);
}