.jumbotron {
    width: 95%;
    height: 40vw;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
}

.jumbotron .card-title , p { 
    font-family: cursive;
    font-weight: bolder;
    color: orange;
}

.container .card {
    width: 80%;
    margin: auto;
}

.jumbotron .card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
}