.jumbotron .card-overlay { 
    font-family: cursive;
    font-weight: bolder;
    color: orange;
}

.container .card {
    width: 80%;
    margin: auto;
}

.jumbotron .card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
}