/* Global */
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Atkinson+Hyperlegible:ital@1&family=Dancing+Script:wght@600&family=Georama:wght@200&family=Righteous&family=WindSong:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Fonts */
.f1 {
    font-family: 'Architects Daughter', cursive;
}
.f2 {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    color: #f5d246;
}
.f3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(189, 123, 0);
}
.f4 {
    font-family: 'Georama', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}
.bg-color {
    background-color: #f4feff;
}

/* Navbar */

.desk-logo {
    border-radius: 50%;
    margin-right: 5px;
}
.mobile-logo {
    margin: 0;
    padding: 0;
    width: 220px;
}
.navbar-text{
    color: black;
    font-weight: bold;
}
.social .btn {
    width: 40px;
    height: 40px;
}
.navLinks{
    font-weight: bold;
    font-size: large;
    text-decoration: none;
    color: white;
}
.navLinks:hover{
    position: relative;
    transition: all 0.3s;
    top: -3px;
    color: rgb(201, 201, 201);
}
.navbar-collapse {
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.753);
    padding: 5px 10px;
    border-radius: 25px;
}
.navbar-dark .navbar-toggler {
    border-radius: 6px;
}
.active {
    color: rgb(170, 170, 170);
}
@media only screen and (max-width: 960px) {
    .navbar-collapse {
        padding: 10px 10px;
        border-radius: 10px;
    }
    .navLinks{
        padding: 1px;
    }
}

/* Jumbotron */

.jumbotron {
    margin: 0px 10px;
}
.jumbotron .card-title {
    font-size: 6em;
}
.jumbotron .card-overlay { 
    font-family: 'Righteous', cursive;
    font-weight: bolder;
    color: orange;
}
.container .card {
    width: 80%;
    margin: auto;
}
.jumbotron .card-img-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
    font-family: 'Architects Daughter', cursive;
    color: #efdb3b;
    text-shadow: -10px 7px 1px #332b07;
}
@media only screen and (max-width: 960px) {
    .jumbotron .card-title {
        font-size: 1.7rem;
        font-weight: bolder;
    }
}

/* About Us */

.about-toast {
    width: 70vw;
}
.about-toast-header {
    font-size: 1.3rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-weight: bold;
    color: #e2c241;
}
.about-toast-body {
    font-size: 1rem;
}
.about-toast-body p {
    font-size: 1.1rem;
}
@media only screen and (max-width: 960px) {
    .about-toast {
        width: 85vw;
    }
    .about-toast-header {
        font-size: 1.1rem;
    }
    .about-toast-body p {
        font-size: 1rem;
    }
}

/* Feedback Form */

.form-toast-header {
    font-size: 1.6rem;
}
.form-toast-body label {
    font-size: 1.2rem;
}
@media only screen and (max-width: 960px) {
    .form-toast-header {
        font-size: 1.25rem;
    }
    .form-toast-body label {
        font-size: 1.15rem;
    }
}
/* Footer */

.footer {
    background-color: rgba(0, 0, 0, 0.753);
}
.footer p {
    font-weight: normal;
    font-family: monospace;
    color: white;
}
.footer:hover {
    background-color: rgba(66, 66, 66, 0.877);
}

/* Recipe card */

.none {
    text-decoration: none;
    color: black;
}
.none:hover {
    color: gray;
}

/* Recipe Details */

.video {
    background-color: black;
    border-radius: 8px;
    /* margin: 0px 10px; */
}
.rd-toast {
    width: 100%;
    padding: 10px;
}
.hover:hover {
    transform: scale(1.04);
    transition: all 0.5s;
}
@media only screen and (max-width: 960px) {
    .video {
        border-radius: 0px;
    }
    .hover:active {
        transform: scale(1.04);
        transition: all 0.5s;
    }
}

/* React Transition */

.page-enter {
    opacity: 0.01;
    transform: translateX(-100%);
}
.page-enter-active {
    opacity: 1;
    transform: translateX(0%);
    transition: all 300ms ease-in;
}
.page-exit {
    opacity: 1;
    transform: translateX(0%);
}
.page-exit-active {
    opacity: 0.01;
    transform: translateX(100%);
    transition: all 300ms ease-out;
}
.card-img {
    filter: brightness(70%);
}